<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>fooder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
</head>
<body>
<div th:insert="blocks/header :: header"></div>

<h1>fooder</h1>

<h2>About</h2>
<p>This web service is meant for delivering food by several food providers.</p>
<p>The project's <a href="https://github.com/antomatskev/fooder">GitHub page</a></p>

</body>
</html>